# ============================================================
# RAW / CUSTOMER-LEVEL DATA
# ============================================================

data/credit_card_customers.csv
data/customer_analysis.csv
data/customer_segments.csv
data/churn_predictions.csv
data/executive_dashboard_data.csv
data/credit_card_analytics.db

# SQL outputs
data/sql_result_*.csv


# ============================================================
# PYTHON
# ============================================================

__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
env/


# ============================================================
# MAC
# ============================================================

.DS_Store


# ============================================================
# JUPYTER
# ============================================================

.ipynb_checkpoints/


# ============================================================
# IDE
# ============================================================

.vscode/
.idea/